html {
    box-sizing: border-box;
    }

*,
*::before,
*::after {
  box-sizing: inherit;
}

body
{
    height: 750px;
    margin: 2px;
    padding: 2px;
}

input,
.btn {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
}

body {
  align-items: center;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container {
  /*max-width: 20em;*/
  width: 1000px;
  margin: 0 auto;
  height:100%;

}

.container > p {
  text-align: center;
}

.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}
.display {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.calculator__keys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

input[type="text"] {  */
	background-color:white; 
	border: solid black 2px; 
	width:100%;
}  

#btn-symbol{
    background: #70c1b3;
    color: white;
}

#btn-number{
    background: #B2DBBF;
    color : white;
}

#btn-operation{
    background:#F3FFBD ;
    color:black;
}

#btn-symbol:hover{
    background:white;
    color:  #70c1b3;
}

#btn-operation:hover{
    background: black ;
    color: #F3FFBD ;
}

#btn-number:hover{
    background:white;
    color : #B2DBBF;
}

